* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.nav {
    height: 100vh;
    width: 20%;
    /* max-width: 200px; */
    background-color: rgb(36, 34, 34);
    font-size: 30px;
}

.nav li {
    margin: 30px;
    list-style: none;
    padding: 10px;
}

.nav li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav li a:hover {
    color: rgb(130, 129, 129);
}

.logo {
    height: 90px;
    width: 60px;
}

.top{
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    color: white;
}

/* CSS FOR MYWORK PAGE */
.right {
    width: 80%;
    background-color: rgb(22, 22, 22);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head {
    font-size: 30px;
    margin-bottom: 10px;
}
form h3 {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}
form p{
    text-align: center;
}

.main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#icon {
    display: flex;
    margin-bottom: 5px;
}

#icon img {
    height: 50px;
    width: 50px;
    padding: 0 40px;
    margin: 0 5px;
    margin-bottom: 15px;   
}
#icon p{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 56%;
    margin: 20px;
}

form div input {
    width: 266px;
}

form input,
form textarea {
    margin: 10px;
    padding: 10px;
    background-color: rgb(204, 203, 203);
    border: 0;
    outline: none;
    border-radius: 6px;
    font-size: 15px;
}

button {
    height: 5vh;
    width: 120px;
    border: 0;
    cursor: pointer;
    background-color: rgb(56, 54, 54);
    color: white;
    border-radius: 16px;
    margin-left: 250px;
    margin-top: 5px;
}

button:hover {
    color: rgb(183, 183, 186);
}
.main h3{
    margin-bottom: 10px;
}
.para{
    margin-bottom: 10px;
}
.mid{
    margin-bottom: 25px;
}